<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="https://kit.fontawesome.com/8abe1f152c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Hexadecimal - Just a blog, really</h1>
            <h3>By Ben Hays (BenHays242)</h3>

            <p class="social-icons">
                <i class="fa-brands fa-twitter"></i>
                <a target="_blank" href="https://github.com/BenHays242"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.reddit.com/user/Technobyte141"><i class="fa-brands fa-reddit"></i></a>
                <a href="mailto:benhays42@hexadecimal.blog"><i class="fa-solid fa-square-envelope"></i></a>
            </p>
        </div>
        <div class="posts">
            <h2>Recent Posts:</h2>
            <div class="post" id="post-1">
                 <h2>Lorem ipsum</h2>
                 <h3>#test #debugging #prototype</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officia ducimus fugiat autem eaque. Quos, ut, doloribus provident dolorem nobis maxime rem velit error vero corporis ad, minima perspiciatis praesentium!</p>
                 <a href="#">View Post</a>
            </div>
            <div class="post" id="post-2">
                <h2>Lorem ipsum</h2>
                <h3>#test #debugging #prototype</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officia ducimus fugiat autem eaque. Quos, ut, doloribus provident dolorem nobis maxime rem velit error vero corporis ad, minima perspiciatis praesentium!</p>
                <a href="#">View Post</a>
           </div>
        </div>
        <div class="footer">
            <p>The source code for this blog is available at <a href="https://github.com/BenHays242/hexadecimal.blog">https://github.com/BenHays242/hexadecimal.blog</a></p>
        </div>
    </div>
</body>
</html>